body {
  background-color: black;
}

h1 {
  color: white;
  text-align: center;
  font-size: 50px;
  font-family: courier new;
}

h2 {
  color: white;
  font-size:30px
}

p {
  margin-left: 70px;
  margin-right: 60px;
  margin-top: 50px;
  font-family: courier new;
  font-size: 25px;
  color: white;
}


table{
  width:100%;
  background: url("holesedit.png");
  font-family: courier new;
  font-size: 30px;

}

