body {
  background-color: black;
}

h1 {
  color: white;
  margin-left: 30px;
  font-size: 50px;

}

h2 {
  color: white;
  margin-left: 30px;
  margin-top: -10px;
  font-size:20px

}

p {
  color:darkred;
  margin-left: 30px;
  font-size: 20px;


}